.container-progress{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 6px;

    h1 {
        font-size: 22px;
        font-weight: 600;
        color: #000;
    }
}

.progress-bar {
    display: flex;
    align-items: center;
    gap: 8px;

    p {
        font-weight: 300;
        font-size: 13px;
        line-height: 120%;
    }

    progress {
        width: 230px;
        height: 2vh;
        border-radius: 15px;
        overflow: hidden;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        &::-webkit-progress-bar {
            background-color: #EBEBEB;
        }

        &::-webkit-progress-value {
            background-color: #0070B6;
        }

        &::-moz-progress-bar {
            background-color: #0070B6;
        }
    }
}